<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/error.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>Error!</title>
</head>

<body>

</body>

</html>

<<div class="box">
    <div class="box__ghost">
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>

        <div class="box__ghost-container">
            <div class="box__ghost-eyes">
                <div class="box__eye-left"></div>
                <div class="box__eye-right"></div>
            </div>
            <div class="box__ghost-bottom">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="box__ghost-shadow"></div>
    </div>

    <div class="box__description">
        <div class="box__description-container">
            <div class="box__description-title">{{code}}!</div>
            <div class="box__description-text">{{message}}</div>
        </div>

        <a href="/" target="_blank" class="box__button">Go back</a>

    </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script>
        //based on https://dribbble.com/shots/3913847-404-page

        var pageX = $(document).width();
        var pageY = $(document).height();
        var mouseY = 0;
        var mouseX = 0;

        $(document).mousemove(function (event) {
            //verticalAxis
            mouseY = event.pageY;
            yAxis = (pageY / 2 - mouseY) / pageY * 1;
            //horizontalAxis
            mouseX = event.pageX / -pageX;
            xAxis = -mouseX * 150 - 100;

            $('.box__ghost-eyes').css({ 'transform': 'translate(' + xAxis + '%,-' + yAxis + '%)' });

            //console.log('X: ' + xAxis);

        });
    </script>