<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/home.css" />
    <title>SendJack!</title>
  </head>

  <body>
    <div class="container">
      <div class="lander">
        <div class="bar">
          <img
            src="img/logo_icon.png "
            alt=""
            class="animate__animated animate__fadeInDown"
          />

          <div class="links">
            <div class="main_links animate__animated animate__fadeInDown">
              <h3>HOME</h3>
              <h3>CONTACT</h3>
              <h3>ABOUT</h3>

            </div>
            <div class="login_link">

              <button
                class="animate__animated animate__fadeInDown" onclick="window.location.href='/login'">LOGIN</button>
            </div>
          </div>
        </div>
        <div class="main_lander">
          <div class="info_lander">
            <h1 class="animate__animated animate__fadeInDown">The powerful
              shipping app
              <br />
              now for your service!</h1>
            <p class="animate__animated animate__fadeInDown">100% Safe and
              Prompt Delivery! Priority and security of items transported
              <br />
              by our couriers will be upheld until they reach their destination.</p>
            <button class="animate__animated animate__fadeInDown">ORDER NOW!</button>
            <p></p>
          </div>
          <div class="delivery_boy">
            <img
              src="img/delivery_boy.png"
              alt=""
              class="animate__animated animate__fadeInDown"
            />
          </div>
        </div>
      </div>

      <div class="trust">
        <div class="trust_text animate__animated animate__flipInX">
          <h1><span style="color: #F79033">TRUST</span>
            IS
            <span style="color: red"> IMPORTANT </span>
            TO
            <span style="color: skyblue"> US.</span></h1><img
            src="img/trust_seal.png"
            alt=""
          />
        </div>
        <div class="trust_feature animate__animated animate__flipInX">
          <div>
            <div class="card">
              <i class="fa-solid fa-location-dot"></i>
              REAL TIME TRACKING
              <p>Track Your Orders in Real Time with Our App or Website</p>
            </div>
            <div class="card">
              <i class="fa-solid fa-shield"></i>
              ITEM SAFETY
              <p>Guaranteed Safe Delivery's and Minimal Damage Chances</p>
            </div>
          </div>
          <div>
            <div class="card">
              <i class="fa-solid fa-bolt-lightning"></i>
              FAST DELIVERY
              <p>With Some Deliverys Available Within 4 Hours</p>
            </div>
            <div class="card">
              <i class="fa-solid fa-box-open"></i>
              EASY PLACEMENTS
              <p>Easily Place All Orders with East Using Our App or Website</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/60af65c780.js"
    crossorigin="anonymous"
  ></script>

</html>