<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/reset.css">
    <title>Reset Password</title>
</head>

<body>
    <i class="fa-solid fa-key"></i>

    <h2>Forgot Password?</h2>
    <p>No Worries. We Will Send You a Password Reset Link</p>

    <label for="Email">Enter Your Email</label>
    <div class="input-group">
        <input type="email" class="input" id="Email" name="Email" placeholder="johndoe@sendjack.com" autocomplete="off">
        <input class="button--submit" value="Send Link" type="submit" id="submit">
    </div>

</body>
<script src="https://kit.fontawesome.com/60af65c780.js" crossorigin="anonymous"></script>
<script src="js/reset.js"></script>

</html>